<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
  </head>

  <body>
    <p>Hi {{username}},</p>
    <p>
      We received your request on resetting the password. If you haven`t
      requested, just ignore the letter
    </p>
    <p>Please click the following link to reset your password:</p>
    <h3>Your token!</h3>
    <p>{{token}}</p>
    <p>If you did not sign up for our service, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
